.home {
  height: calc(100vh - (44.25px + 96px));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
}
