.claro-theme {
  --background-color: white;
  --text-color: black;
  --background-color-nav: black;
  --text-color-nav: rgb(255, 255, 255);
  --text-color-secondary: #fdc501;
  --footer-background-color: #0F1215;
  --text-color-footer: white;
  --text-seguirLeyendo: #0F1215;
  --background-text-contact: #a3a4a6;
  --text-contact: #000000;
  --text-contact-focus: #ffffff;
  --contact-background-focus: #545454;
}

.oscuro-theme {
  --background-color: #0F1215;
  --text-color: white;
  --background-color-nav: white;
  --text-color-nav: black;
  --text-color-secondary: #fdc501;
  --footer-background-color: #000000;
  --text-color-footer: white;
  --text-seguirLeyendo: #fdc501;
  --background-text-contact: rgba(255, 255, 255, 0.1);
  --text-contact: #a3a4a6;
  --text-contact-focus: #000;
  --contact-background-focus: #fff;
}

.bodyInAPP {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}
