nav {
  background-color: var(--background-color-nav);
  color: var(--text-color-nav);
  z-index: 4;
}

.nav2 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
}

.logoNav {
  height: 3.5rem;
  cursor: pointer;
}

.textLink {
  text-transform: uppercase;
  margin: 0 0.5rem;
  font-size: 1.3rem;
}



.textLink:hover {
  cursor: pointer;
  color: var(--text-color-secondary);
}







.iconTheme {
  cursor: pointer;
}



.links {
  display: flex;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav {
  padding: 0rem 1rem;
}
